  /*************************** navbar */
 .navber{
   
    justify-content: center;
}
ul{
   text-align: center;
    padding: 0;
    margin: 1.8rem auto;
}
.logo{
    margin: 0.1rem auto;
    padding: 0;
   
}
.logoimg {
    width: 10vw;
  }
li{
    padding: 0;
}
.cafe{
    width: auto;
    margin: auto 0.1rem;
}
#Home::before{
    background-position: center;
}
 /*********************************** main */
#main > h2{
    width: auto;
    text-align: center;
} 
/* ***************************main 2 */
.rows{
    padding: 0;
}
